<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApproximationTestingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs" />
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.417" newVersion="5.1.6.417" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ApproximationTestingApp.Properties.Settings>
      <setting name="CurrentWorkingDirectory" serializeAs="String">
        <value>G:\_gulevlab\SkyIndexAnalyzerSolo_appData\errors-2014-05-12\result\</value>
      </setting>
    </ApproximationTestingApp.Properties.Settings>
  </userSettings>
</configuration>