<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilesFilteringApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs"/>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <FilesFilteringApp.Properties.Settings>
            <setting name="FromPath" serializeAs="String">
                <value>E:\АИ-44\result\pics\convert\jpg-all\v01\</value>
            </setting>
            <setting name="ToPath" serializeAs="String">
                <value>E:\АИ-44\result\pics\convert\jpg-all\v01-selected\</value>
            </setting>
        </FilesFilteringApp.Properties.Settings>
    </userSettings>
</configuration>