<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyImagesAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <SkyImagesAnalyzer.Properties.Settings>
            <setting name="GrIxDefaultSkyCloudMarginWithoutSun" serializeAs="String">
                <value>0,9</value>
            </setting>
            <setting name="GrIxDefaultSkyCloudMarginWithSun" serializeAs="String">
                <value>0,1</value>
            </setting>
            <setting name="GrIxSunDetectionMinimalSunAreaPartial" serializeAs="String">
                <value>0,003</value>
            </setting>
            <setting name="GrIxSunDetectionMaximalSunAreaPartial" serializeAs="String">
                <value>0,05</value>
            </setting>
            <setting name="GrIxAnalysisImageCircledCropFactor" serializeAs="String">
                <value>0,9</value>
            </setting>
            <setting name="JapanCloudSkySeparationValue" serializeAs="String">
                <value>0,1</value>
            </setting>
            <setting name="GermanCloudSkySeparationValue" serializeAs="String">
                <value>0,8</value>
            </setting>
            <setting name="GrIxStdDevMarginValueDefiningTrueSkyArea" serializeAs="String">
                <value>0,65</value>
            </setting>
            <setting name="BatchProcessingDirectory" serializeAs="String">
                <value>G:\_gulevlab\SkyIndexAnalyzerSolo_appData\2014-03-MassiveProcessingResult\images\</value>
            </setting>
            <setting name="DefaultDataFilesLocation" serializeAs="String">
                <value>G:\_gulevlab\SkyIndexAnalyzerSolo_appData\2014-03-MassiveProcessingResult\</value>
            </setting>
            <setting name="DefaultScalingFactor" serializeAs="String">
                <value>0,125</value>
            </setting>
            <setting name="GrIxProcessingVerbosityLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultMaxImageSize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="GrIxSunDetectionDesiredSunAreaPartial" serializeAs="String">
                <value>0,01</value>
            </setting>
            <setting name="GrIxMinimalSunburnYvalue" serializeAs="String">
                <value>247,0</value>
            </setting>
            <setting name="GrIxMinimalSunburnGrIxvalue" serializeAs="String">
                <value>0,98</value>
            </setting>
            <setting name="GrIxSunDetectorArcedCropFactor" serializeAs="String">
                <value>0,95</value>
            </setting>
            <setting name="GrIxSunDetectorConcurrentThreadsLimit" serializeAs="String">
                <value>8</value>
            </setting>
        </SkyImagesAnalyzer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs"/>
    </assemblyBinding>
  </runtime>
</configuration>